# Postgres do docker-compose
POSTGRES_USER=galeria
POSTGRES_PASSWORD=galeria
POSTGRES_DB=galeria_rd
POSTGRES_PORT=5433

# Usada pelo Prisma (CLI e client)
DATABASE_URL="postgresql://galeria:galeria@localhost:5433/galeria_rd?schema=public"
